.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.alert {
    font-size: small;
    display: none;
}

.alert.show {
    display: block;
}

.App-body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.nav-bar {
    min-width: 90vw;
    vertical-align: middle;
}

.nav-bar .left {
    min-width: 50vw;
    text-align: left;
}

.nav-bar-right {
    min-width: 75vw;
    text-align: right;
    margin-right: -10;
}

.nav-bar-right a {
    padding: 0.3em;
    color: #ffffff;
}

.auth {
    min-width: 50vw;
    max-width: 50vw;
    animation: fadeIn ease 3s;
}

.form-note {
    font-size: small;
    color: grey;
    animation: fadeIn ease 3s;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
